
      <form class="form-signin" action="/tata/openId/msisdnsubmit?sessionid=<%= sessionid%>&userId=<%= userId%>" method="post" style="padding-top: 60px;">
        <h5 class="form-signin-heading">A pin will be sent to the mobile number mentioned below for verification</h5>
        <input type="text" value="<%= msisdn%>" class="field left" readonly>
        <button class="btn btn-medium btn-primary" type="submit">Send Pin</button>
      </form>
    